<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ComputerDatabase</display-name>
  <welcome-file-list>
    <welcome-file>affichageComputers.html</welcome-file>
  </welcome-file-list>

	<!-- Gestion exceptions -->
	<error-page>
   	 	<error-code>500</error-code>
   		<location>/WEB-INF/jsp/error/error500.jsp</location>
	</error-page>
	<error-page>
   	 	<error-code>400</error-code>
   		<location>/WEB-INF/jsp/error/error400.jsp</location>
	</error-page>
	<error-page>
   	 	<error-code>404</error-code>
   		<location>/WEB-INF/jsp/error/error404.jsp</location>
	</error-page>
	<error-page>
   	 	<error-code>405</error-code>
   		<location>/WEB-INF/jsp/error/error405.jsp</location>
	</error-page>
	
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

</web-app>